<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admincore') }}
        {% endblock %}
    </head>
    <body>
        <div id="app">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('admincore') }}
        {% endblock %}
    </body>

</html>

